.sidePanelBgColor {
    background-color: #ffffffba !important;
    color: rgba(0, 0, 0, 0.81)
}

.logoBg {
    background-color: white;
}

.app-user span,
mat-icon {
    color: #999999;
}

.mat-icon-button {
    width: 25px;
}

.sidebar-panel {
    background: url("../../../../assets/images/dashboard-image2.png") no-repeat;
}