.paddingBtm {
    padding-bottom: 24px;
}

.btnGrid {
    background: linear-gradient(to right, #058ac3, #21bec7);
    color: white;
}

.labelForChildren {
    padding-top: 19px;
    padding-right: 5px;
    font-weight: 700;
}

.infoBtn {
    padding-right: 20px;
}

.slideTogglePadding {
    padding-bottom: 10px;
}