<!-- <mat-tab-group>
    <mat-tab label="Categories">
        <app-category></app-category>
    </mat-tab>
    <mat-tab label="Events">
        <p class="paddingForPara">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorem repellendus ut illo provident sapiente, corporis ipsam aspernatur laudantium? Impedit tempora adipisci nisi soluta, esse dicta debitis aliquam nihil enim.</p>
    </mat-tab>
    <mat-tab label="Deals">
        <p class="paddingForPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, minima harum temporibus nemo doloremque voluptatem tempore soluta commodi, praesentium repudiandae magnam ut amet deleniti sint dolore vitae dolorem corporis assumenda.</p>
    </mat-tab>
    <mat-tab label="Tags">
        <p class="paddingForPara">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa debitis fugit laboriosam nam illo quod impedit, asperiores, hic obcaecati atque earum neque quos doloribus at nisi iste minima. Non, rerum.</p>
    </mat-tab>
</mat-tab-group> -->
<router-outlet></router-outlet>