.btnGrid {
    background: linear-gradient(to right, #058ac3, #21bec7);
    color: white;
}

.example-chip-list {
    width: 100%;
}

.labelForChildren {
    padding-top: 19px;
    padding-right: 5px;
    font-weight: 700;
}

.paddingForLabels {
    padding-right: 6px;
    font-weight: 700;
}

.slideTogglePadding {
    padding-bottom: 10px;
}